<div class="search">
  <div class="input">
    <input type="text" placeholder="type a url here" ng-model="url"></input></div>
  <ul>
    <li>
      <span>Facebook likes : </span>
      <ng-fb-like-count class="counter" url="{{url}}"></ng-fb-like-count>
    </li>
    <li>
      <span>Facebook shares : </span>
      <ng-fb-share-count class="counter" url="{{url}}"></ng-fb-share-count>
    </li>
    <li>
      <span>Facebook comments  : </span>
      <ng-fb-comment-count class="counter" url="{{url}}"></ng-fb-comment-count>
    </li>
    <li>
      <span>Twitter shares  : </span>
      <ng-tw-share-count class="counter" url="{{url}}"></ng-fb-comment-count>
    </li>
    <li>
      <span>Pinterest shares  : </span>
      <ng-pn-share-count class="counter" url="{{url}}"></ng-fb-comment-count>
    </li>
    <li>
      <span>Linkedin shares  : </span>
      <ng-ln-share-count class="counter" url="{{url}}"></ng-fb-comment-count>
    </li>
  </ul>
</div>

<footer>
  <div class="twitter">
    <div class="avatar"></div>
    <div>
      <a href="https://twitter.com/bahaaldine"><span lng="text:by"></span> @bahaaldine <span lng="text:with"></span> <span class="fa fa-heart"></span></a>
    </div>
  </div>
  <div class="github">
    <div class="icon fa fa-github"></div>
    <div><a href="https://github.com/bahaaldine/angular-csv-import" lng="text:github"></a></div>
  </div>
</footer>