<div class="block right" >

  <ng-fb-like-count url="https://apps.facebook.com/snapcampaign/?qId=SnapPictureL&type=SnapPicture"></ng-fb-like-count>

</div>

<footer>
  <div class="twitter">
    <div class="avatar"></div>
    <div>
      <a href="https://twitter.com/bahaaldine"><span lng="text:by"></span> @bahaaldine <span lng="text:with"></span> <span class="fa fa-heart"></span></a>
    </div>
  </div>
  <div class="github">
    <div class="icon fa fa-github"></div>
    <div><a href="https://github.com/bahaaldine/angular-csv-import" lng="text:github"></a></div>
  </div>
</footer>